
name: task4

on: push

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
    - run: npm install

    - name: Bearer
      uses: bearer/bearer-action@v2
      

    



    
