
name: task4

on: push

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
    - run: npm install
    - name: Bearer ignore
      uses: bearer/bearer-ignore@v2
      with:
        bearer-ignore-file: 65a0b5683f8d3046fd1ec645d0717938_0
    - name: Bearer
      uses: bearer/bearer-action@v2
      

    



    
